<p>Thanks for showing your support. We'll keep updated with our progress.</p>
<a class="icon tweet" href="https://twitter.com/intent/tweet?via=stirchlystores&amp;url=http%3A%2F%2Fwww.stirchleystores.co.uk&amp;text=Support Stirchley Stores Cooperative">Tweet your support</a>
