<p>Thanks for showing your support. We'll keep you updated on our progress.</p>
<p>If you want to find out more about volunteering, <a href="/stirchley_volunteer.pdf">download this flyer</a>.</p>
<a class="icon tweet" href="https://twitter.com/intent/tweet?via=stirchlystore&amp;url=http%3A%2F%2Fwww.stirchleystores.co.uk&amp;text=I've just signed up to support Stirchley Stores - bringing affordable, quality food to Stirchley from August">Tweet your support</a>