<section id="introduction">

	<article>
		<h1>Stock up at Stirchley Stores</h1>
		<p>We've been providing affordable, quality, healthy food since January 2010 as the South Birmingham Food Cooperative.</p>
		<p>And now we're opening our own shop in Stirchley! We’ll be stocking everything from rice and pasta to environmentally friendly household products. All sourced locally where possible and sold at fair prices.</p>
	</article>

	<iframe src="http://player.vimeo.com/video/43680940" width="460" height="265" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
	
</section>

<section id="subscribe">
	<p>Sign up below for our email updates and we'll let you know how you can get involved.</p>
	<%= simple_form_for @supporter, :html => { :remote => true } do |f| %>
		<%= f.input :name %>
		<%= f.input :email %>
		<%= f.button :submit, :value => "Subscribe" %>
	<% end %>
	<span class="spin"></span>
</section>