/* =form */
 
	form { 	}
	form fieldset { }

/* =label */
 
	label { 
	  display: block; 
	  position: relative; 
	}

/* =input */

	.string { 
		float: left; 
		margin-right: 12px;
	}

	.string input { 
		padding: 8px; 
		font-size: 16px;
		border: none;
		font-family: TrocchiRegular, Georgia, Serif;
		color: #353434;
		width: 200px;
	}

	.field_with_errors input {
		border-color: darkred;
	}
	
	.button {
		font-family: TrocchiRegular, Georgia, Serif;
		color: #ffffff;
		border: 2px solid #ffffff;
		background: #098137;
		float: left;
		padding: 6px;
		border-radius: 10px;
		width: 115px;
		font-size: 16px;
		cursor: pointer;
	}
	
	.button[disabled='disabled'] {
		opacity: 0.3;
		cursor: default;
	}